.justify-content-lg-center{
    font-size: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: rgb(44, 16, 2);
    padding-bottom: 30px;
    letter-spacing: 5px;
}
.title{
    font-size: 30px;
    font-family:'Raleway', sans-serif; 
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.date{
    font-size: 15px;
    font-family:'Raleway', sans-serif; 
    text-align: right;
}
.description{
    font-size: 20px;
    font-family:'Raleway',sans-serif; 
    text-align: left;
    letter-spacing: 3px;
    padding-bottom: 7px;
    padding-top:5px;
}
@media (max-width: 800px) {
    .alert {
        width: 300px;
    }
}